.container1{
  height: 500px;
  width: 75%;
  display: inline-block;
  position: absolute;
}
.activites{
  position: absolute;
  background: lightgrey;
  width: 100%;
  height: 446px;
  overflow: scroll;
}
.dates{
  bottom: 0px;
  text-align: center;
  background: white;
  padding: 10px;
  width: 100%;
  overflow: scroll;
  background: white;
  position: absolute;
}
span{
  font-size: 30px;
  color: #999999;
  font-family: "arial";
  padding: 15px;
}

.container2{
  margin-left: 75%;
  height: 500px;
  width: 25%;
  display: inline-block;
  position: absolute;
}

.liste{
  background: darkgrey;
  width: 100%;
  height: 446px;
  position: absolute;
  overflow: scroll;
}

.butco{
  background: grey;
  width: 100%;
  height: 54px;
  bottom: 0px;
  position: absolute;
}

.butto{
  margin: 8px 0% 10% 10%;
  width: 80%;
  background: grey;
  color: white;
  text-align: center;
  padding: 8px 17px;
  font-size: 13px;
  border-radius: 7px 7px 7px 7px;
}